img {
  border-radius: 10px;
  width: 320px;
}

/* .select-input {
  width: 108px;
  margin-bottom: 8px;
} */

.select-input {
  width: 108px;
  margin-bottom: 8px;
  height: 2rem;
  border-radius: 3px;
  /* padding: 1rem; */
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.detail-item {
  display: flex;
  flex-direction: column;
  margin-left: 128px;
  margin-right: 128px;
}

.back-link {
  margin-top: 8px;
}
